#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

  .ripple {
  position: absolute;
  border-radius: 50%;
  background: #000;
  transform: scale(0);
  animation: ripple-animation 1s linear;
  pointer-events: none;
  z-index: 0;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}