@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import "tailwindcss";


@theme {
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 0%, 85%);
  --color-purple-light:#E1C6FD;
  --color-purple-dark: #400272;
  --color-purple-darker: #36025F;
  --font-body-size: 15px;
  --font-display: "Alata", sans-serif;
  --font-josefin-sans: "Josefin Sans", system-ui, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

