@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";


@theme {
  --color-grey: hsl(0, 0%, 85%);
  --color-off-white: #fffffe;
  --color-textblack: #130102;
  --color-purple-light:#9112eb;
  --color-purple-dark: #36025F;
  --color-purple-darler: #400272;
  --font-body: "Roboto Condensed", sans-serif, system-ui;
  --font-dm-serif-text: "DM Serif Text", sans-serif, system-ui;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base{
  h1{
    @apply font-dm-serif-text text-3xl md:text-4xl lg:text-5xl;
  }

  h2{
    @apply font-dm-serif-text text-2xl md:text-3xl lg:text-4xl;
  }

  h3{
    @apply font-dm-serif-text text-xl md:text-2xl lg:text-3xl;
  }

  hr{
    @apply border-t-[1px] border-gray-200 w-full;
  }

  section{
    @apply bg-off-white p-8 pt-18 md:p-18 m-0 flex flex-col md:flex-row justify-center items-center gap-4 md:gap-10;
  }

  footer{
    @apply font-body m-0 w-full px-6 py-4 md:px-20 md:py-6 gap-4 bg-textblack text-off-white flex flex-col 
    justify-center items-center ;
  }

  span{
    @apply w-full;
  }
  
  form{
    @apply w-full;
  }

  input{
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent;
  }
}

@layer components{
  .hollow-button{
    @apply uppercase border-2 border-textblack py-2 px-4 w-fit;
  }

  .solid-button{
    @apply uppercase text-white bg-textblack py-3 pr-8 pl-6 w-fit;
  }
}

@layer utilities {
  @keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-right:3px solid #9112eb; }
  }

  .animate-blink {
    animation: blink 1s step-start infinite;
  }
}
