@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";


@theme {
  --color-grey: hsl(0, 0%, 85%);
  --color-off-white: #fffffe;
  --color-textblack: #0d1823;
  --color-purple-light:#9112eb;
  --color-purple-dark: #36025F;
  --font-body: "Roboto Condensed", sans-serif, system-ui;
  --font-dm-serif-text: "DM Serif Text", sans-serif, system-ui;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

